* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NOTE settings layout */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.container {
  height: 100vh;
  background-image: -moz-linear-gradient(#009688 100px,#dadbd3 4%);
}

.container .box {
  width: 80%;
  max-width: 1000px;
  height: 90vh;
  margin: 0 auto;
  position: relative;
  top:20px;
  display: flex;
}

.box::after{
  display: table;
  content: "";
  clear:both;
}

.container .box .column {
height: 100%;
}

.column.left {
  width:30%;
  background-color: lightgray;
  border:1px solid black;
}

.column.right{
  width: 70%;
  position: relative;
  border:1px solid black;
  background-color: white;
}

.box .column  .bar {
  height: 10%;
  width: 100%;
  background-color: goldenrod;
}

.box .column .notifiche {
  height: 15%;
  background-color: lightgreen;
}


.box .column .search {
  height: 10%;
}

.box .column .list-avatar {
  height: 65%;
}


.box .column .list-avatar ul li {
  list-style: none;
  line-height: 100px;
}


.box .column .cont-chat {
  width: 80%;
  height: 80%;
  background-image: url("../img/mine.jpg");
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.box .column .cont-chat .sent {
  align-self: flex-end;
  background-color: blueviolet;
}



.box .column .cont-chat .received {
  background-color: lightcoral;
}

.box .column .message-chat {
  height: 15%;
  width: 80%;
  border:1px solid black;
  position: absolute;
  bottom: 0;
  left:50%;
  transform: translate(-50%,0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.box .column.right .cont-chat .message {
  width: 40%;
  height: 15%;
}



.box .column.right .message-chat input   {
  width: 80%;
  height: 80%;
  padding-left: 20px;
}



.box .column.right .message-chat i   {
  font-size: 20px;
  padding:0 20px;
}

/* NOTE content of box  */


.container .box .column .bar  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

  
.container .box .column .bar .logo  {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

  
.container .box .column .bar .logo img {
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}


.container .box .column .bar span {
  padding-left: 10px;
}


.container .box .column .bar .simboli i {
  margin: 0 5px;
  font-size: 20px;
  color:grey;
}


.container .box .column.left  .notifiche {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.container .box .column.left  .notifiche .bell {
  font-size: 60px;
  border-radius: 50%;
  background-color: white;
}



.container .box .column.left  .notifiche .text-notifiche {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}




.container .box .column.left  .search  {
  text-align: center;
  position: relative;
}

.container .box .column.left  .search input {
  width: 80%;
  height: 80%;
  padding-left: 30px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}




.container .box .column.left  .search i {
  position: absolute;
  top:50%;
  left:15%;
  transform: translate(-50%,-50%);
  z-index: 3;
}






.container .box .column.left  .list-avatar img {
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}



.container .box .column.right .bar.right .text-logo-right  {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.container .box .column.right .bar.right .text-logo-right :nth-child(1)  {
  padding-right: 70px;
}



.container .box .column.right .bar.right .text-logo-right :nth-child(2)  {
  color:gray;
}


.box .column.right .cont-chat .message   {
  border-radius: 20px;
  display: grid;
}


.box .column.right .cont-chat .message span   {
  padding-left: 20px;
}

.box .column.right .cont-chat .message .date  {
  color:blue;
  font-weight: 600;
  padding-right: 20px;
  margin-top: 20px;
  justify-self: end;
}



/* NOTE debug */
/* 
.debug .box {
  background-color: blue;
}


.debug .container .box .column {
  background-color: brown;
  }

.debug  .box .bar {
    background-color: crimson;
    border: 1px solid black;
  }

  
.debug .box .column .notifiche {
  background-color: coral;
}


.debug .box .column .search {
  background-color:darkgreen;
}


.debug .box .column .list-avatar {
  background-color: gold;
  border: 2px solid red;
}


.debug .box .column .cont-chat {
  background-color:saddlebrown;
}



.debug .box .column .message-chat {
  background-color: yellow;
  border: 2px solid red;
}


.debug .box .column.right .cont-chat .message.sent {
  background-color: salmon;
}


.debug .box .column.right .cont-chat .message.received {
  background-color: purple;
} */