*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* METTERE IL FONT */

/* settings layout */

body .container {
  background-image: -moz-linear-gradient(#009688 100px,#dadbd3 4%);
  height: 100vh;
}

body .container .box {
  width: 80%;
  height:90vh;
  margin:0px auto;
  position: relative;
  top:30px;
  display: flex;
}

body .container .box::after {
  display: table;
  content: "";
  clear: both;
}


body .container .box .column {
  height: 100%;
  border:1px solid gray;
}


.column.left {
  width:30%;
}

.column.right {
  width: 70%;
  position: relative;
}

/* settings interno box  */

.box .column .utente,
.box .column .simbols {
  width: 40%;
  height: 10%;
  background-color: #eaeaea; 
  display: inline-block;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.box .column.right .chat-message {
  width: 100%;
  height: 10%;
}

.box .column .notifiche {
  height: 10%;
  background-color: teal;
}

.box .column .chat {
  height: 80%;
  background-color: white;
  }


.position {
  position:absolute;
  bottom:0;
}


/* content of box */

body .container .box .left .utente  img {
  width: 30%;
  height: 60%;
  object-fit: cover;
  border-radius: 100%;
}

body .container .box .right .utente  img {
  width: 20%;
  height: 80%;
  object-fit: cover;
  border-radius: 100%;
}




.font {
  font-size: 15px;
  font-weight: 500;
}

.column .simbols  {
  color:grey;
  font-size: 30px;
}



.f-left {
  float: left;
}

.f-right {
  float: right;
}

/* content of column left */
.column.left .chat .input {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  position: relative;
}
.column.left .chat .input input {
  width: 95%;
  height: 60%;
  margin:0 auto;
  padding-left:35px;
}

.column.left .chat .input i {
position: absolute;
left:20px;
}

.column.left .list-avatar ul li {
  list-style: none;
  line-height: 50px;
}


 .list-avatar ul li img {
  height: 120px;
  border-radius: 100%;
}


.list-avatar  {
  height: 80%;
  overflow-y: scroll;
}

.column.right {
  background-image: url(img/mine.jpg);
}

/* content of column right */
.column.right .text .subtitle {
  color:gray;
}


.column.right .chat-message  input {
  width:90%;
  height: 90%;
  padding-left:10px;
}

.chat-message {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

